<component name="ArtifactManager">
  <artifact type="war" name="MybatisPlus03Demo:war">
    <output-path>$PROJECT_DIR$/MybatisPlus03Demo/target</output-path>
    <root id="archive" name="MybatisPlus03Demo.war">
      <element id="artifact" artifact-name="MybatisPlus03Demo:war exploded" />
    </root>
  </artifact>
</component>